.activity {
  padding-top: 0;
}

.activity__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.development__list {
  @extend %flex-align;
}

.development__item--append {
  margin-right: 30px;
}

.development__item--prepend {
  margin-right: 0;
}

.picture-box {
  position: relative;
}

.picture__text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px;

  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
