.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--accent-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address-box:not(:last-child) {
  margin-right: 70px;
}

.logo--inverse {
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.logo__text--accent-color {
  color: var(--accent-color);
}

.address__link:focus {
  color: var(--accent-color);
}

.address__link {
  font-style: normal;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.address__link--light-color {
  color: var(--primary-white-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--light-color:hover,
.address__link--light-color:focus {
  color: var(--accent-color);
}

.address__item--append {
  margin-bottom: 9px;
}

.social-box {
  margin-right: 93px;
}

.social-box__text {
  margin-bottom: 20px;

  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social__item--append {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
}

.footer-social__icon {
  fill: var(--primary-white-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__item:hover,
.footer-social__item:focus {
  background-color: var(--accent-color);
}
