:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --paragraph-color: #757575;
  --primary-background-color: #e5e5e5;
  --primary-white-color: #ffffff;
  --accent-background-color: #2f303a;
  --background-btn-color: #f5f4fa;
  --background-accent-btn: #188ce8;
  --header-border: #ececec;
  --icon-color: #afb1b8;
}
